In [135]:
import pandas as pd
import seaborn as sns

In [136]:
df = pd.read_csv("customer_profiles.csv")

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14825 entries, 0 to 14824
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             14825 non-null  object
 1   age                                14825 non-null  int64
 2   id                                 14825 non-null  object
 3   became_member_on (year month day)  14825 non-null  int64
 4   income                             14825 non-null  float64
 5   ever_married                       14825 non-null  object
 6   kids                               14825 non-null  int64
 7   home_state                         14825 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 926.7+ KB

In [138]:
# prompt: Using dataframe df: Create a distribution using seaborn and the "age" column

import seaborn as sns
sns.displot(df['age'], bins=len(df['age'].unique()))

In [139]:
# prompt: Using dataframe df: fill the 'ever_married' column with "Yes" or "No" values. "Yes" should represent 53% of the data and "No" should represent 47% of the data.

import random
df['ever_married'] = ['Yes' if random.random() < 0.53 else 'No' for _ in range(len(df))]

In [140]:
# prompt: fill the 'home_state' with the name of a random state found in the United States.

states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

df['home_state'] = [random.choice(states) for _ in range(len(df))]

In [141]:
# prompt: Using dataframe df: if the 'age' value is greater than 67 and less than 100, change the 'home_state' value to "Florida"

df.loc[(df['age'] > 67) & (df['age'] < 100), 'home_state'] = 'Florida'

In [142]:
# prompt: Using dataframe df: add integers 0 to 5 to the 'kids' column. 0 should appear 31% of the time. 1 should appear 14% of the time, 2 28% of time, 3 15% of time,  4 7%  of time and 5% of time.

import numpy as np
kids = np.random.choice([0, 1, 2, 3, 4, 5], size=len(df), p=[0.31, 0.14, 0.28, 0.15, 0.07, 0.05])
df['kids'] = kids
df

,gender,age,id,became_member_on (year month day),income,ever_married,kids,home_state
0,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0,No,3,Colorado
1,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,Yes,2,Florida
2,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0,Yes,2,Florida
3,M,65,389bc3fa690240e798340f5a15918d5c,20180209,53000.0,Yes,2,Rhode Island
4,M,58,2eeac8d8feae4a8cad5a6af0499a211d,20171111,51000.0,Yes,0,Rhode Island
...,...,...,...,...,...,...,...,...
14820,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,20180604,54000.0,No,1,New Hampshire
14821,M,61,2cb4f97358b841b9a9773a7aa05a9d77,20180713,72000.0,Yes,2,Nebraska
14822,M,49,01d26f638c274aa0b965d24cefe3183f,20170126,73000.0,Yes,5,Maryland
14823,F,83,9dc1421481194dcd9400aec7c9ae6366,20160307,50000.0,Yes,3,Florida
14824,F,62,e4052622e5ba45a8b96b59aba68cf068,20170722,82000.0,Yes,0,Connecticut